/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 août 2015, 14:02:25
    Author     : fairuz
*/
#checkbox .sample1 label {
    font-weight: bold;
}
#checkbox .hint {
    padding-left: 45px;
    padding-top: 20px;
    font-weight: 400;
}
#checkbox .sample1 {
    padding-bottom: 20px;
}

#checkbox h2 {
    font-size: 18.7199993133545px;
    font-weight: bold;
    margin-bottom: 30px;
}

#checkbox .sample2 {
    width: 300px;
    clear: both;
    font-weight: 400;
}

#checkbox .sample2 {
    padding: 10px 0;
}
#checkbox .sample2 .text {
    display: inline-block;
}
#checkbox .sample2 .checkbox {
    float: right;
    margin: 0;
}
#radio-button h2 {
    font-size: 18.7199993133545px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 50px;
}
#radio-button .radio {
    margin: 20px 10px;
}
#toggle-button h2 {
    font-size: 18.7199993133545px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 50px;
}
#toggle-button .togglebutton label {
    margin: 20px 10px;
    width: 200px;
}
#toggle-button .togglebutton .toggle {
    float: right;
}
#input h2 {
    padding: 14px;
    font-size: 16px;
    font-weight: 400;
}
#input .inputs {
    width: 80%;
}
#input .form-control-wrapper {
    margin: 30px 0;
}
#progress-bar h2 {
    font-size: 18.7199993133545px;
    font-weight: bold;
    margin-bottom: 30px;
}
#slider .sample1, #slider .sample2 {
    padding: 20px 0;
    background-color: #f0f0f0;
    margin-bottom: 20px;
}
#slider .sample2 {
    height: 150px;
}
#slider .sample2 .slider {
    margin: 0 40px;
}
#slider h2 {
    padding: 14px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}
#slider .slider {
    margin: 15px;
}
#button h2 {
    padding: 14px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}
#floating-action-button .btn {
    margin: 20px;
}
#floating-action-button h2 {
    padding: 14px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}
#dropdown h2 {
    padding: 14px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}
#dropdown .dropdown {
    font-size: 30px;
    padding: 20px;
}
#dropdown-menu h2 {
    padding: 14px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}
#dropdown-menu .sample {
    width: 200px;
}
#dropdown-menu .form-group {
    margin: 30px 0;
}
#dialog h2 {
    padding: 14px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}
#shadow h2 {
    padding: 14px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}
#shadow .sample {
    width:  100px;
    height: 100px;
    margin: 16px;
    padding: 16px;
    display: inline-block;
}
#shadow-sample2 {
    display: inline-block;
    width:  100px;
    height: 100px;
    margin: 16px;
    padding: 16px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

}
#shadow-sample3 {
    display: inline-block;
    width:  100px;
    height: 100px;
    margin: 16px;
    padding: 16px;
    border-radius: 100px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}